# Critical data files
data/raw/
data/processed/


# Sensitive credentials
.env
secrets.ini
config_secret.py
*.key

# System files
.DS_Store
__pycache__/
*.pyc


# Virtual environment
gmf-env/
venv/

# Jupyter notebooks
*.ipynb_checkpoints

# IDE files
.idea/
.vscode/